
<div id="memberInfo">
    
        <mat-card class="member">
                <mat-card-header>
                  <mat-card-title><h2>Admin</h2></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <ul>
                                <li>Party</li>
                                <li>To</li>
                                <li>deni</li>
                                <li>he</li>
                                <li>padegi</li>
                                <li>ab kaam ae ya nahi</li>
        
                            </ul>
                </mat-card-content>
              </mat-card>
            </div>