
<div id="memberInfo">
    
        <mat-card class="member">
                <mat-card-header>
                  <mat-card-title><h2>About</h2></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <ul>
                                <li>whatever</li>
                                <li>whatever</li>
                                <li>whatever</li>
                                <li>whatever</li>
                                <li>whatever</li>
        
                            </ul>
                </mat-card-content>
              </mat-card>
            </div>