
<div id="wrapper">
        <mat-card class="loginCard">
                <mat-card-title><div class="title"><h2>LOGIN</h2></div></mat-card-title>
                <mat-card-content>
<form [formGroup]="form" (ngSubmit)="loginUser()">
    <fieldset>
        <mat-form-field>
            <!-- <label for="username">Username</label> -->
            <input matInput type="text" placeholder="Username" formControlName="username" required (focusout)="focusOut()">
        </mat-form-field>

        <mat-form-field>
                <!-- <label for="password">Password</label> -->
            <input matInput type="password" placeholder="Password" formControlName="password" required (focusout)="focusOut()">
        </mat-form-field>
        <div style="width:100%;display: flex;justify-content:  center;align-items: center">
        <button type="submit"  mat-raised-button color="primary" [disabled]="buttonDisabled">Login</button>
        </div>
    </fieldset>
</form>
</mat-card-content>
<div class="redirection">
    <span class="text">Don't have an account? </span>
    <a class="link" routerLink="/authenticator/register"> Create an account</a>
</div>
</mat-card>
</div>