

<div id="memberInfo">
    
<mat-card class="member">
        <mat-card-header>
          <mat-card-title><h2>Username - {{username}}</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <ul>
                        <li>Phone number - {{memberInfo.phonenumber}}</li>
                        <li>Date of Birth - {{memberInfo.dateofbirth}}</li>
                        <li>First Name - {{memberInfo.firstname}}</li>
                        <li>Last Name - {{memberInfo.lastname}}</li>
                        <li>Admin - {{memberInfo.admin}}</li>

                    </ul>
         
        </mat-card-content>
      </mat-card>
    </div>